BODY, HTML {
    overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #cdcdcd;
    overflow: hidden;
    font-family: 'DINPro';
}
mark{
    color: red;
}

#gif_section{
    overflow-y: hidden;
}
.outer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.site-logo-img{
    background-image: url("../assets/images/0to1logoanimate.gif");
    overflow-y: hidden;
    width: 100% !important;
}

.design_philosophy{
    background-image: url("../assets/images/design-philosophy-web.jpg");
    overflow-y: hidden;
    height: 119vh;
    width: 104vw !important;
    background-position: center;
    background-size: cover;
}


.team{
    border: none;
    width: 20%;
}

.team_img{
    height: 100%;
}

.mobile-design-philosophy{
    display: none;
}

.com-span{
    width:67%;
}

.outer_div{
    width: 100%; 
    height: 120vh; 
    display: flex; 
    flex-direction: column; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: 1;
}
.header_div{
    width: 100%;
    height: 20vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white;
    font-family: DINPro; 
    font-size: 2.5rem; 
    font-weight: bold;
    z-index: 0;
}
.div-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    z-index: 0;
}
.row-div{
    width: 100%; 
    height: 40vh; 
    display: flex; 
    justify-content: space-around;
}
.inner-row-div{
    width: 20%; 
    height: 100%;
}
.teams{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}
.teams:hover{
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0 0 30px #E50019 !important;
}
.img-div{
    width: 100%;
    height: 20%;
    bottom: 0; 
    font-size: 1.2rem; 
    font-weight: bold;
    margin-top: 5%;
    color: white;
    text-align: center;
}

.middle-div{
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#submit-event{
    width: 80%;
    margin-bottom: 2%;
}
.mobile-middle-div{
    display:none;
}
.lets-crft{
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-left: 19%; 
    color: #3B3939;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

.flex-container{
    width:100%;
    height: 100%;
}

.contact-para{
    font-size: 2rem;
    margin-left: 19%;
    margin-top: 53px;
}

.name{
    width:47%;
    outline: none;
}
.contact{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: #CCCCCC;
}

#gif_img{
    width:100% !important;
}

#carousel_section{
    width: 100% !important;
}

.mySlides{
    width: 100% !important;
    z-index: 1;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.carousel-caption {
    right: 66%;
    left: 6%;
    text-align: left;
}

img {
    object-fit: cover;
    object-position: center;
}

.toggleHeading {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -moz-transition: none !important;
}

.toggleCaption {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -moz-transition: none !important;
}

.downArrow {
    display: none;
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }

    60% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); 
    }
}

/* Demo Purpose Only*/ 
.demo {
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.underline{
    position: sticky;
    display: inline-block;
    background-position: right bottom;
    width:initial;
    height: initial;
}

.underline:hover{
    background-position: left bottom;
    background: linear-gradient(to right, red 50%, #2E2E2E 50%);
    background-size: 200% 100%;
    transition: all .5s ease-out;
}

#text-color { 
    color:#e60000 ;
    transition: all .6s ease-out;
    display: block;
    text-decoration: none;
    margin-bottom: 0;
}

#text-color:hover{
    color: white;
}

.demo a {
    color: #2ecc71;
}

.overlay {
    height: 100%;
    width: 35% ;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:red;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
}
.submit-button{
    width: 95%;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white;
    

}

.dawerDiv{
    z-index: 45;
    background-color:rgb(255, 0, 0);
    opacity: .6;
    overflow-x: none;
}

#menuSec{
    background-color: white;
    display: flex;
    height: 70px;
    align-items: center;
    z-index: 1;
    top: 0;
    position: sticky;
}

.spanNav{
    font-size:30px;
    cursor:pointer;
    color: #232323;
    padding-left: 80px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-weight: 600;
}

.overlay-content {
    text-align: left;
    padding-left: 50px;
    top: 18%;
}

#who_we_are_section h1 {
    padding-top: 2rem;
    text-align: center;
    color: #635c5c;
    font-size: 2rem;
    font-weight: 900;
}

.rowLoc{
    text-align: center;
}

.togHead{
    padding-top: 60%;  
}

.togHead1{
    padding-top: 60%;
    font-size: 2rem;
}

.toglHead2{
    display:flex;
    align-items:flex-end;
    word-wrap: break-word;
    padding-top: 60%;
}

.caroSec{
    display: none;
}

.divP1{
    padding-top: 6%;
    color: #000000;
    text-align: left;
}

.divP2{
    color: #000000;
    text-align: left;
}

.divP4{
    color: #000000;
    text-align: left;
    padding-top: 19%;
}
.divP3{
    color: #000000;
    text-align: left;
    padding-top: 4%;
}

.loc1{
    padding: 15px;
    width: 40%;
}

.loc2{
    padding: 15px;
    width: 40%
}

.loc3{
    padding: 15px;
    width: 42%;
    padding-top: 9%;
}

.loc4{
    width: 62%;
    padding-top: 17%;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.wrap {
    margin: 0.8rem;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(100rem);
    transform: perspective(100rem);
    cursor: pointer;
}

.container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
    width: 17rem;
    height: 30rem;
    border: 1px solid #e8eaed;
    background-color: #ffffff;
    padding: 2rem;
    align-items: flex-end;
    position: relative;
    -webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
    background-size: 40rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
    transition: -webkit-transform .6s 1s;
    transition: transform .6s 1s;
    transition: transform .6s 1s, -webkit-transform .6s 1s;
}

.wrap:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.card:hover {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

/* hover on card*/
.underline-on-hover{
    position: sticky;
    display: inline-block;
    background-position: right bottom;
    width:initial;
    height: initial;
}
.underline-on-hover:hover{
    background-position: left bottom;
    background: linear-gradient(to right,red 50%, rgb(255, 255, 255) 50%);
    background-size: 200% 10%;
    transition: all .5s ease-out;
    cursor: pointer;
}

.address{
    font-family: 'DINPro';
    margin-left: 19%;
    margin-top: 11%;
}

.addressText{
    font-size: 17px;
}
.our_beliefs{
    display: none;
}

.our_beliefs_section{
    display: flex;
    width: 100%;
    height: auto !important;
    align-items: center;
    margin: auto;
}

.div1{
    text-align: center;
    padding: 50px;
}

.h11{
    color: #635c5c;
    font-size: 2rem;
    font-weight: 600;
}

.zeroDiv{
    margin-left: unset;
    margin-right: unset;
}

.zeroDiv1{
    text-align: left;
}


.divCard{
    height: 186px;
    border-color: #E50019;
    margin: 5% 0;
    width: 100%
}

.logo{
    position: fixed;
    right: 18px;
    z-index: 5;
}

.logoimg{
    width: 35%;
    cursor: pointer;
    z-index: 3;
}

/*CSS for sticky menu bar*/
.logo{
    position: fixed;
    right: 18px;
    z-index: 5;
}
#myNav{
    background-color: red;
    z-index: 11;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:red;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 1;
}
 .overlay-content {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}
.spanNav{
    font-size:30px;
    cursor:pointer;
    color: #232323;
    padding-left: 3%;
    background-color: white;
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
 }
.sticky + .content {
    padding-top: 102px;
 }

.box{
    width:100%;
    padding: 1%;
}

.form-header{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form-header{
    font-size: 3.2rem;
    color: white;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.form-box textarea{
    background-color: white;
    resize: none;
}

.form-box{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-box input, textarea{
    margin-bottom: 2vh;
    color: white;
    background-color:white;
}

.form-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-btn{
    text-align: right;
    margin-bottom: 10%;
}

.btn{
    background-color: #707070;
    border: none;
    color: #ffffff; 
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    float: right;
    padding-bottom: 5px;
    width: 100%;
}
.submit-btn{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 4%;
    margin-bottom: 11%;
}
.contactUsHeader{
    text-align: left; 
    font-size: 2.3rem; 
    padding-top: 6%;
    font-weight: bolder;    
    margin-bottom: 2%;
    margin-left: 2%;
}

.error{
    display: none;
}
.submit-btn{
    background-color: #707070;
    color: #ffffff;
    border: none !important;
}

.team_section_header{
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    margin: unset !important;
}

.submit-button{
    width:100%;
}


/*********************************************************** mobile-responsive *****************************************************/

    @media (max-width:720px) and (orientation:portrait){
        .design_philosophy{
            display: none !important;
        }

        #carousel-example-generic{
            z-index: 0;
        }
        .design_philosophy_mobile{
            background-image: url("../assets/images/design-philosophy-mobile.jpg");
            height: 97vh !important;
            width: 100% !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block !important;
        }
        .div-container{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .row-div{
            width: 100%;
            height: 25vh;
            display: flex;
            justify-content: space-around;
        }
        .inner-row-div{
            width: 40%;
            height: 100%;
        }
        .teams{
            width: 100%;
            height: 70%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .img-div{
            width: 100%;
            height: 20%;
            margin-top: 5%;
            bottom: 0;
            font-size: 0.9rem;
            font-weight: bold;
            color: white;
            text-align: center;
        }


        .team_section_header{
            display: flex;
            justify-content: center;
        }
        .contactUsHeader{
            text-align: center !important;
            font-size: 2.9rem;
            padding-top: 1%;
            font-weight: bolder;
            margin-bottom: 2%;
            opacity: 50%;
        }
        
        #bootstrap-override{
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .submit-btn{
            width: 100%;
            height: 60%;
        }
         
        body {
            margin: 0;
            padding: 0;
            background: #ffffff;
            color: #cdcdcd;
            overflow: hidden;
        }
        #gif_section{
            overflow-y: hidden;
        }
        .outer-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        
        .com-span{
            width:67%;
        }
        
        .middle-div{
            width: 67%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #submit-event{
            width: 100%;
        }
        .mobile-middle-div{
            display:none;
        }
        .lets-crft{
            font-weight: bolder;
            font-size: 3rem;
            margin-bottom: 0px;
            margin-left: 10%; 
            color: #3B3939;
        }

        .address {
            margin-left: 10% !important; 
        }

        #addressText{
            display: none;
        }
        #contactText {
            font-size: 1.5rem;
            margin-left: 10%;
        }

        
        a {
            text-decoration: none;
            color: #232323;
            transition: color 0.3s ease;
        }
        

        a:hover {
            color: tomato;
        }
        
        .flex-container{
            width:100%;
        }
        
        .contact-para{
            font-size: 2rem;
            margin-left: 19%;
            margin-top: 53px;
        }
        
        .name{
            width:47%;
            outline: none;
        }
        .contact{
            position: relative;
            font-size: 1.5rem;
            font-weight: bold;
            color: #CCCCCC;
        }
        
        #gif_img{
            width:100% !important;
        }
        
        #carousel_section{
            width: 100% !important;
        }
        
        .mySlides{
            width: 100% !important;
        }
        
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
        }
        
        .carousel-caption {
            width: 65%;
            display: flex;
            align-items: center;
            text-align: left;
        }
        
        img {
            object-fit: cover;
            object-position: center;
        }
        
        .toggleHeading {
            animation-delay: 0.5s;
            -webkit-animation-delay: 0.5s;
            -moz-animation-delay: 0.5s;
            -o-animation-delay: 0.5s;
            -moz-transition: none !important;
        }
        
        .toggleCaption {
            animation-delay: 1.5s;
            -webkit-animation-delay: 1.5s;
            -moz-animation-delay: 1.5s;
            -o-animation-delay: 1.5s;
            -moz-transition: none !important;
        }

        .contactSpan {
            width: 100%;
        }

        #contact, #email, #name, #submit-btn {
            width: 100%;
        }
         
        #craftText{
            font-size: 1.5rem;
        }

        .downArrow {
            display: none;
            position: fixed;
            bottom: 5%;
            left: 0;
            right: 0;
            text-align: center;
        }
        .bounce {
            -moz-animation: bounce 3s infinite;
            -webkit-animation: bounce 3s infinite;
            animation: bounce 3s infinite;
        }
        
        @-moz-keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
                -moz-transform: translateY(0);
                transform: translateY(0);
            }
        
            40% {
                -moz-transform: translateY(-25px);
                transform: translateY(-25px);
            }
        
            60% {
                -moz-transform: translateY(-10px);
                transform: translateY(-10px);
            }
        }
        
        @-webkit-keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            40% {
                -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
            }
            60% {
                -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
            }
        }
        
        @keyframes bounce {
        
            0%,
            20%,
            50%,
            80%,
            100% {
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            40% {
                -moz-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
            }
            60% {
                -moz-transform: translateY(-15px);
                -ms-transform: translateY(-15px);
                -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
            }
        }
        
        /* Demo Purpose Only*/ 
        .demo {
            color: #fff;
            display: block;
            margin: 0 auto;
            padding: 15px 0;
            text-align: center;
        }
        
        .demo a {
            color: #2ecc71;
        }
        
        .overlay {
            height: 100%;
            width: 35% ;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color:red;
            overflow-x: hidden;
            transition: 0.5s;
            opacity: 1;
        }
        
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            color: white;
        
        }
        
        .dawerDiv{
            z-index: 45;
            background-color:rgb(255, 0, 0);
            opacity: .6;
            overflow-x: none;
        }
        
        #menuSec{
            background-color: white;
            display: flex;
            height: 70px;
            align-items: center;
            z-index: 1;
            top:0;
        }
        
        .spanNav{
            font-size:30px;
            cursor:pointer;
            color: #232323;
            padding-left: 80px;
        }
        
        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        
        .overlay a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }
        
        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }
        
        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 22px;
            color: #ffffff;
            display: block;
            transition: 0.3s;
            font-weight: 600;
        }
        
        .overlay-content {
            text-align: left;
            padding-left: 50px;
            top: 18%;
        }
        
        #who_we_are_section h1 {
            padding-top: 2rem;
            text-align: center;
            color: #635c5c;
            font-size: 2rem;
            font-weight: 900;
            
        }
        
        .rowLoc{
            display: flex;
            justify-content: center;
        }
        
        .togHead{
            font-size: 1.5rem !important;
            margin-bottom: 100%;
        }
        
        .togHead1{
            font-size: 1.5rem !important;
            margin-bottom: 100%;
        }
        
        .toglHead2{
            display:flex;
            align-items:flex-end;
            word-wrap: break-word;
            font-size: 1.5rem !important;
            margin-bottom: 100%;
        }
        
        .caroSec{
            display: none;
        }
        
        .divP{
            padding-left: 12px;
            padding-right: 12px;
            font-size: 16px;
            text-align: left;
            color: #000000;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 16px;
            text-align: left;
            color: #000000;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 16px;
            text-align: left;
            color: #000000;
        }
        
        .loc{
            padding: 15px;
            color: red;
        }
        .loc img{
            width: 23%;
        }
        
        .main {
            margin-top: 15%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .wrap {
            margin: 0.8rem;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform: perspective(100rem);
            transform: perspective(100rem);
            cursor: pointer;
        }
        
        .container {
            --rX: 0;
            --rY: 0;
            --bX: 50%;
            --bY: 80%;
            width: 17rem;
            height: 30rem;
            border: 1px solid #e8eaed;
            background-color: #ffffff;
            padding: 2rem;
            align-items: flex-end;
            position: relative;
            -webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
            transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
            background-size: 40rem auto;
            box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
            transition: -webkit-transform .6s 2s;
            transition: transform .6s 2s;
            transition: transform .6s 2s, -webkit-transform .6s 2s;
        }
        
        .wrap:hover {
            -ms-transform: scale(1.1);
            /* IE 9 */
            -webkit-transform: scale(1.1);
            /* Safari 3-8 */
            transform: scale(1.1);
        }
        
        .card:hover {
            -ms-transform: scale(1);
            /* IE 9 */
            -webkit-transform: scale(1.1);
            /* Safari 3-8 */
            transform: scale(1.1);
        }
        
        .card1:hover{
            -ms-transform: scale(1);
            /* IE 9 */
            -webkit-transform: scale(1.1);
            /* Safari 3-8 */
            transform: scale(1.1);
            box-shadow: 0 0 30px;
            transition: .3s red;
        }

        /* hover on card*/
        .underline-on-hover{
            position: sticky;
            display: inline-block;
            background-position: right bottom;
            width:initial;
            height: initial;
        }
        .underline-on-hover:hover{
            background-position: left bottom;
            background: linear-gradient(to right,red 50%, rgb(255, 255, 255) 50%);
            background-size: 200% 10%;
            transition: all .5s ease-out;
            cursor: pointer;
        }
        
        .our_beliefs{
            display: none;
        }
        
        .our_beliefs_section{
            margin-right: 0px;
            margin-left: 0;
            height: auto !important;
        }
        
        .div1{
            text-align: center;
            padding: 30px;
            width: inherit;
        }
        
        .h11{
            color: #635c5c;
            font-size: 2rem;
            font-weight: 600;
        }
        
        .zeroDiv{
            width: 100%;
        }
            
        .zeroDiv1{
            margin-top: 5%;
            width: 50%;
        }
        
        .zeroDiv5{
            margin-top: 5%;
            margin-bottom: 10%;
            width: 50%;
        }

        .zeroDiv6{
            width: 50%;
            margin: 5% 0 10%;
        }
        
        .divCard{          
            width: 100%;
            height: 100%;
        }
        
        .logo{
            position: fixed;
            right: 18px;
            z-index: 1;
        }
        
        .logoimg{
            width: 40%;
            cursor: pointer;
        }
        
        /*CSS for sticky menu bar*/
        .logo{
            position: fixed;
            right: 18px;
            z-index: 2;
            display: flex;
            justify-content: flex-end;
            right: 0;
         }
         #myNav{
            background-color: red;
            z-index: 11;
         }
         .hide-div{
             pointer-events: none;
         }
         .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color:red;
            overflow-x: hidden;
            transition: 0.5s;
            opacity: 1;
         }
         .overlay-content {
            position: relative;
            width: 100%;
            text-align: left;
            margin-top: 30px;
         }
         .spanNav{
            font-size:30px;
            cursor:pointer;
            color: #232323;
            padding-left: 3%;
            background-color: white;
            z-index: 1;
         }
         .sticky {
            position: fixed;
            top: 0;
            width: 100%;
         }
         .sticky + .content {
            padding-top: 102px;
         }
        
        .box{
            width:100%;
            padding: 1%;
        }
        
        
        .form-header{
            height: 15vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        .form-header{
            font-size: 3.2rem;
            color: white;
            margin: 0;
            position: absolute;
            z-index: 1;
        }
        
        .form-box textarea{
            background-color: white;
            resize: none;
        }
        
        .form-box{
            align-self: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .form-box input, textarea{
            margin-bottom: 2vh;
            color: white;
            background-color:white;
        }
        
        .form-middle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .btn{
            background-color: #707070;
            border: none;
            color: #ffffff;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 5px;
            float: right;
            padding-bottom: 5px;
        }


        .card-title {
            text-align: center;
            font-size: 14px;
            align-items: center;
            text-align: left;
        }
}
